@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('components/navigation.css');
@import url('components/product-card.css');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
}

body {
    background: #eee;
}

app {
    display: flex;
    position: relative;
    flex-direction: row;
}

.main {
    flex-basis: 80%;
}

.sidebar {
    flex-basis: 20%;
}

.main-top,
.side-top {
    font-size: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.side-top {
    background-color: #ff6b58;
    padding-left: 2rem;
    color: #fff;
}

.main-top {
    background-color: lightgray;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main-content {
    padding: 2rem;
}

/* Blazor error */

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}