@inherits LayoutComponentBase

<div class="sidebar">
    <div class="side-top">
        BlazorShop
    </div>
    <NavMenu />
</div>


<main class="main">
    <div class="main-top">
        <LoginLinks />
    </div>
    <div class="main-content">
        @Body
    </div>
</main>

@code{
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
}