<article class="product-card">
    <div class="product-card__imagecontainer">
        <img class="product-card__image" src="https://blazorshop.blob.core.windows.net/images/@Product.ImageName" alt="@Product.Name" />
    </div>
    <div class="product-card__content">
        <h3 class="product-card__title">@Product.Name</h3>
        <p class="product-card__price">@FormatPrice(Product.Value)</p>
    </div>
    <RadzenButton Text="Dodaj u košaricu" 
                  Icon="add_shopping_cart" 
                  Style="width: 100%" />
</article>

@code {
    [Parameter] public ProductViewModel Product { get; set; }

    private string FormatPrice(double price)
    {
        return $"{price}.00 HRK";
    }
}
