@page "/"
@page "/proizvodi"
@inject IProductClient productClient
@inject IDisplayToast displayToast
@inject NavigationManager navigationManager

@using System.Text.Json

<AuthorizeView Roles="Manager">
    <Authorized>
        <div class="d-flex w-100 justify-content-end">
            <RadzenButton Click="@((args) => navigationManager.NavigateTo("proizvodi/novi"))" Text="Novi proizvod" Icon="note_add" Style="width: 200px" />
        </div>
    </Authorized>
</AuthorizeView>

<div class="row mt-2">
    @if (Products != null)
    {
        @foreach (var p in Products)
        {
            <div class="col-3 mb-2">
                <ProductCard Product="p" AddProductToCart="AddToCart" DeleteProduct="DeleteProduct" />
            </div>
        }
    }
    else
    {
        <p>Učitavam proizvode...</p>
    }
</div>


@code {
    [CascadingParameter] OrderState Order { get; set; }
    public List<ProductViewModel> Products { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await FetchMovies();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task FetchMovies()
    {
        Products = await productClient.GetAll();
    }

    private async Task AddToCart(ProductViewModel vm)
    {
        var existingOrderProduct = Order.OrderProduct.FirstOrDefault(op => op.ProductId == vm.Id);

        if (existingOrderProduct == null)
        {
            Order.OrderProduct.Add(new OrderProductSubmitDTO
            {
                Name = vm.Name,
                ProductId = vm.Id,
                Quantity = 1,
                Value = vm.Value,
                ImageName = vm.ImageName
            });
        }
        else
        {
            existingOrderProduct.Quantity += 1;
        }

        Order.Refresh();

        await displayToast.Show($"Proizvod {vm.Name.ToUpper()} je dodan u košaricu!", "success");
    }

    private async Task DeleteProduct(ProductViewModel vm)
    {
        await productClient.Delete(vm.Id);
        await displayToast.Show($"Proizvod {vm.Name.ToUpper()} je uspješno izbrisan!", "success");
    }
}
